@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<div class="text-center">
<h1>@ViewData["Title"]</h1>
</div>
<div class="indent"></div>
<div class="frame">
<p> Поставьте, пожалуйста, студентам группы ИСП-32 Николаеву Никите и Татаряну Валерию оценку "5" по предмету "Языки программирования". </p>
</div>
